@import "@styles/vars";

.hero {
  position: relative;
  width: 100%;
  min-height: calc(100vh - 70px);
  @include display-less(desktop) {
    min-height: 500px;
  }
  @include display-less(tablet) {
    min-height: 300px;
  }
}
